<form action="answer" data-turbo="false">
  <label for="user">Hey, I'm your coach. What do you want?</label>
  <input type="text" name="question" placeholder="ask a question..">
  <input type="submit" value="Ask!">
</form>
